  @import "../../node_modules/bootstrap/scss/bootstrap.scss";
  //@import "../../node_modules/bootstrap/scss/variables.scss";


  .header-main-bg {
    background: url("../img/top-1340x150.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-height: 150px;
  }

  .carousel {
    max-width: 360px;

    @media (min-width: 1200px) {
      max-width: 300px;
    }
  }

  .car-type {
    max-width: 240px;
    margin: 0 20px 10px 0;
  }

  .car-type__description::first-letter,
  .accordion-item__description::first-letter {
    padding-left: 1.5rem;
  }

  .navbar-brand__container {
    width: 90px;
    height: 100%;
  }

  .navbar-brand__text {
    margin-top: -10px;
    color: #ffff00;
  }

  .navbar-brand__link {
    margin: -65% 0;
  }

  .form-block {
    padding: 20px;
    max-width: 800px;
    width: 100%;
  }

  .ftr {
    left: 0;
    right: 0;
    bottom: 0;
    height: 96px;
    z-index: 2;
  }

  .container-main {
    margin-bottom: 80px;
  }